#box {
    width: 1200px;
    height: 714px;
    left: 50%;
    top: 5px;
    margin: 0 0 0 -600px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

/*startPage*/
#sp-bg {
    width: inherit;
    height: inherit;
}

#sp-logo {
    width: 160px;
    height: 110px;
    top: 35px;
    left: 55px;
    position: absolute;
}

#sp-btn1 {
    width: 300px;
    height: 100px;
    top: 320px;
    left: 480px;
    position: absolute;
}

#sp-btn2 {
    width: 300px;
    height: 100px;
    top: 440px;
    left: 480px;
    position: absolute;
}

#sp-btn3 {
    width: 300px;
    height: 100px;
    top: 560px;
    left: 480px;
    position: absolute;
}

#sp-monster1 {
    width: 100px;
    height: 128px;
    top: 350px;
    left: 115px;
    position: absolute;
}

#sp-monster2 {
    width: 100px;
    height: 141px;
    top: 415px;
    left: 270px;
    position: absolute;
}

#sp-monster3 {
    width: 131px;
    height: 130px;
    top: 185px;
    left: 880px;
    position: absolute;
}

#sp-monster4 {
    width: 95px;
    height: 140px;
    top: 350px;
    left: 1075px;
    position: absolute;
}

#sp-smoke1 {
    width: 76px;
    height: 110px;
    top: 17px;
    left: 370px;
    position: absolute;
}

#sp-smoke2 {
    width: 91px;
    height: 120px;
    top: 9px;
    left: 465px;
    position: absolute;
}

#sp-smoke3 {
    width: 53px;
    height: 70px;
    top: 55px;
    left: 623px;
    position: absolute;
}

#sp-smoke4 {
    width: 82px;
    height: 75px;
    top: 50px;
    left: 750px;
    position: absolute;
}

#sp-music {
    width: 40px;
    height: 40px;
    top: 60px;
    left: 1040px;
    position: absolute;
}

#sp-back {
    width: 56px;
    height: 40px;
    top: 60px;
    left: 1090px;
    position: absolute;
}

/*time counter*/
#g-timeCounter {
    width: 140px;
    height: 140px;
    top: 450px;
    right: 0px;
    position: absolute;
    z-index: 2;
}

#g-timeCounterNum {
    width: 70px;
    height: 70px;
    top: 495px;
    right: 38px;
    position: absolute;
    color: darkred;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    z-index: 2;
}

/*game1-1*/
#g1-1-bg {
    width: inherit;
    height: inherit;
    z-index: 1;
}

#g1-1-logo {
    width: 125px;
    top: 35px;
    left: 45px;
    position: absolute;
}

#g1-1-bg-left {
    width: 490px;
    height: 340px;
    top: 160px;
    left: 100px;
    position: absolute;
}

#g1-1-bg-right {
    width: 490px;
    height: 340px;
    top: 160px;
    left: 610px;
    position: absolute;
}

#g1-1-bg-down {
    width: 1085px;
    height: 125px;
    bottom: 10px;
    left: 25px;
    position: absolute;
}

#g1-1-bg-box-1 {
    width: 195px;
    height: 75px;
    top: 410px;
    left: 120px;
    position: absolute;
}

#g1-1-bg-box-2 {
    width: 195px;
    height: 75px;
    top: 410px;
    left: 365px;
    position: absolute;
}

#g1-1-bg-box-3 {
    width: 195px;
    height: 75px;
    top: 410px;
    left: 640px;
    position: absolute;
}

#g1-1-bg-box-4 {
    width: 195px;
    height: 75px;
    top: 410px;
    left: 880px;
    position: absolute;
}

#g1-1-grade {
    width: 95px;
    height: 50px;
    top: 37px;
    left: 303px;
    position: absolute;
    color: darkred;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 28px;
    text-align: left;
}

#g1-1-standard {
    width: 80px;
    height: 50px;
    top: 37px;
    left: 503px;
    position: absolute;
    color: darkred;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 28px;
    text-align: left;
}

#g1-1-plastic {
    width: 220px;
    top: 100px;
    left: 120px;
    position: absolute;
}

#g1-1-taipower {
    width: 240px;
    top: 95px;
    left: 355px;
    position: absolute;
}

#g1-1-cement {
    width: 220px;
    top: 120px;
    left: 610px;
    position: absolute;
}

#g1-1-mineral {
    width: 220px;
    top: 125px;
    left: 860px;
    position: absolute;
}

#g1-1-chemistry {
    width: 220px;
    top: 340px;
    left: 120px;
    position: absolute;
}

#g1-1-ship {
    width: 240px;
    top: 395px;
    left: 360px;
    position: absolute;
}

#g1-1-oil {
    width: 220px;
    top: 340px;
    left: 610px;
    position: absolute;
}

#g1-1-stone {
    width: 220px;
    top: 365px;
    left: 850px;
    position: absolute;
}

#g1-1-q-1 {
    width: 235px;
    height: 235px;
    top: 160px;
    left: 105px;
    position: absolute;
    z-index: 2;

}

#g1-1-q-2 {
    width: 235px;
    height: 235px;
    top: 160px;
    left: 348px;
    position: absolute;
    z-index: 2;
}

#g1-1-q-3 {
    width: 235px;
    height: 235px;
    top: 160px;
    left: 615px;
    position: absolute;
    z-index: 2;
}

#g1-1-q-4 {
    width: 235px;
    height: 235px;
    top: 160px;
    left: 860px;
    position: absolute;
    z-index: 2;
}

#g1-1-qImg-1 {
    width: inherit;
    bottom: 0px;
    position: absolute;
    z-index: 2;
}

#g1-1-qImg-2 {
    width: inherit;
    bottom: 0px;
    position: absolute;
    z-index: 2;
}

#g1-1-qImg-3 {
    width: inherit;
    bottom: 0px;
    position: absolute;
    z-index: 2;
}

#g1-1-qImg-4 {
    width: inherit;
    bottom: 0px;
    position: absolute;
    z-index: 2;
}

#g1-1-ans-1 {
    width: 195px;
    height: 75px;
    top: 410px;
    left: 120px;
    position: absolute;
    z-index: 2;
}

#g1-1-ans-2 {
    width: 195px;
    height: 75px;
    top: 410px;
    left: 365px;
    position: absolute;
    z-index: 2;
}

#g1-1-ans-3 {
    width: 195px;
    height: 75px;
    top: 410px;
    left: 640px;
    position: absolute;
    z-index: 2;
}

#g1-1-ans-4 {
    width: 195px;
    height: 75px;
    top: 410px;
    left: 880px;
    position: absolute;
    z-index: 2;
}

#g1-1-sel-1 {
    width: 182px;
    height: 70px;
    top: 610px;
    left: 45px;
    position: absolute;
}

#g1-1-sel-2 {
    width: 182px;
    height: 70px;
    top: 610px;
    left: 260px;
    position: absolute;
}


#g1-1-sel-3 {
    width: 182px;
    height: 70px;
    top: 610px;
    left: 475px;
    position: absolute;
}

#g1-1-sel-4 {
    width: 182px;
    height: 70px;
    top: 610px;
    left: 690px;
    position: absolute;
}

#g1-1-sel-5 {
    width: 182px;
    height: 70px;
    top: 610px;
    left: 905px;
    position: absolute;
}

#g1-1-selImg-1,
#g1-1-selImg-2,
#g1-1-selImg-3,
#g1-1-selImg-4,
#g1-1-selImg-5 {
    width: inherit;
    height: inherit;
}

#g1-1-wrong-1 {
    width: 300px;
    height: 300px;
    top: 180px;
    left: 190px;
    position: absolute;
    z-index: -1;

}

#g1-1-wrong-2 {
    width: 300px;
    height: 300px;
    top: 180px;
    left: 715px;
    position: absolute;
    z-index: -1;
}

#g1-1-correct-1 {
    width: 300px;
    height: 300px;
    top: 200px;
    left: 70px;
    position: absolute;
    z-index: -1;
}

#g1-1-correct-2 {
    width: 300px;
    height: 300px;
    top: 200px;
    left: 315px;
    position: absolute;
    z-index: -1;
}

#g1-1-correct-3 {
    width: 300px;
    height: 300px;
    top: 200px;
    left: 590px;
    position: absolute;
    z-index: -1;

}

#g1-1-correct-4 {
    width: 300px;
    height: 300px;
    top: 200px;
    left: 830px;
    position: absolute;
    z-index: -1;
}

#g1-1-wrongImg-1,
#g1-1-wrongImg-2,
#g1-1-correctImg-1,
#g1-1-correctImg-2,
#g1-1-correctImg-3,
#g1-1-correctImg-4 {
    width: inherit;
    height: inherit;
    z-index: 1;
}

#g1-1-donekey {
    width: 150px;
    top: 490px;
    left: 522px;
    position: absolute;
    z-index: 1;
}

#g1-1-donekeycover {
    width: 150px;
    top: 490px;
    left: 522px;
    position: absolute;
    z-index: 0;
}



/*g1-1result*/
#g1-1result-bg {
    width: inherit;
    height: inherit;
    position: absolute;
}

#g1-1resultw-bg {
    width: 1200px;
    height: 675px;
    position: absolute;
}

#g1-1wrong-show {
    width: 1100px;
    top: 50px;
    left: 50px;
    position: absolute;
}

#g1-1monster-1 {
    width: 500px;
    top: 70px;
    left: 380px;
    position: absolute;
    z-index: 50;
}

#g1-1monster-2 {
    width: 400px;
    top: 50px;
    left: 430px;
    position: absolute;
    z-index: 50;
}

#g1-1monster-3 {
    width: 550px;
    top: 150px;
    left: 350px;
    position: absolute;
    z-index: 50;
}

#g1-1monster-4 {
    width: 380px;
    top: 80px;
    left: 410px;
    position: absolute;
    z-index: 50;
}

/*result-correct*/
#g1-1result-correct-exit {
    width: 70px;
    top: 20px;
    left: 1100px;
    position: absolute;
}

#g1-1result-correct-frame {
    width: 780px;
    top: 60px;
    left: 30px;
    position: absolute;
}

#g1-1result-correct-mon {
    width: 350px;
    top: 30px;
    left: 820px;
    position: absolute;
}

#g1-1result-correct {
    width: 400px;
    top: 500px;
    left: 400px;
    position: absolute;
}

#g1-1result-correct-retry {
    width: 250px;
    top: 550px;
    left: 100px;
    position: absolute;
}

#g1-1result-correct-next {
    width: 250px;
    top: 550px;
    left: 850px;
    position: absolute;
}

/*text*/
#g1-1result-correct-t1 {
    width: 100px;
    height: 75px;
    top: 115px;
    left: 280px;
    position: absolute;
}

#g1-1result-correct-t2 {
    width: 200px;
    height: 75px;
    top: 115px;
    left: 455px;
    position: absolute;
}

#g1-1result-correct-t3 {
    width: 100px;
    height: 75px;
    top: 200px;
    left: 280px;
    position: absolute;
}

#g1-1result-correct-t4 {
    width: 200px;
    height: 75px;
    top: 200px;
    left: 455px;
    position: absolute;
}

#g1-1result-correct-t5 {
    width: 200px;
    height: 75px;
    top: 300px;
    left: 355px;
    position: absolute;
}

#g1-1result-correct-t6 {
    width: 100px;
    height: 30px;
    top: 395px;
    left: 625px;
    position: absolute;
}

#g1-1result-correct-t1,
#g1-1result-correct-t3 {
    color: #231815;
    font-family: "font";
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    line-height: 75px;
    z-index: 2;
}

#g1-1result-correct-t2,
#g1-1result-correct-t4,
#g1-1result-correct-t5 {
    color: #177700;
    font-family: "font";
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    line-height: 75px;
    z-index: 2;
}

#g1-1result-correct-t6 {
    color: #5E5E5E;
    font-family: "font";
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    z-index: 2;
}

/*result-wrong*/
#g1-1result-wrong-frame {
    width: 780px;
    top: 50px;
    left: 390px;
    position: absolute;
}

#g1-1result-wrong-retry {
    width: 250px;
    top: 550px;
    left: 650px;
    position: absolute;
}

#g1-1result-wrong-exit {
    width: 70px;
    top: 20px;
    left: 1100px;
    position: absolute;
}

/*text*/
#g1-1result-wrong-t1 {
    width: 100px;
    height: 75px;
    top: 197px;
    left: 668px;
    position: absolute;
}

#g1-1result-wrong-t2 {
    width: 200px;
    height: 75px;
    top: 195px;
    left: 850px;
    position: absolute;
}

#g1-1result-wrong-t3 {
    width: 100px;
    height: 75px;
    top: 277px;
    left: 668px;
    position: absolute;
}

#g1-1result-wrong-t4 {
    width: 200px;
    height: 75px;
    top: 277px;
    left: 850px;
    position: absolute;
}

#g1-1result-wrong-t5 {
    width: 200px;
    height: 75px;
    top: 365px;
    left: 735px;
    position: absolute;
}

#g1-1result-wrong-t6 {
    width: 100px;
    height: 30px;
    top: 458px;
    left: 990px;
    position: absolute;
}

#g1-1result-wrong-t1,
#g1-1result-wrong-t3 {
    color: #231815;
    font-family: "font";
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    line-height: 75px;
    z-index: 2;
}

#g1-1result-wrong-t2,
#g1-1result-wrong-t4,
#g1-1result-wrong-t5 {
    color: #177700;
    font-family: "font";
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    line-height: 75px;
    z-index: 2;
}

#g1-1result-wrong-t6 {
    color: #5E5E5E;
    font-family: "font";
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    z-index: 2;
}


/*game1-2*/
#g1-2-bg {
    width: inherit;
    height: inherit;
}

#g1-2-donekey {
    width: 150px;
    top: 490px;
    left: 522px;
    position: absolute;
    z-index: 1;
}

#g1-2-leftbox {
    width: 300px;
    height: 300px;
    top: 150px;
    left: 200px;
    position: absolute;
    z-index: 10;
}

#g1-2-rightbox {
    width: 300px;
    height: 300px;
    top: 150px;
    left: 700px;
    position: absolute;
    z-index: 10;
}

#g1-2-left-correct, 
#g1-2-left-wrong, 
#g1-2-right-correct, 
#g1-2-right-wrong {
    width: inherit;
    height: inherit;
}

#g1-2-grade {
    width: 95px;
    height: 50px;
    top: 37px;
    left: 303px;
    position: absolute;
    color: darkred;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 28px;
    text-align: left;
}

#g1-2-standard {
    width: 80px;
    height: 50px;
    top: 37px;
    left: 503px;
    position: absolute;
    color: darkred;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 28px;
    text-align: left;
}

/*game1-2-1*/
/*bg*/
#g1-2-chemistry-bg {
    width: 475px;
    top: 120px;
    left: 120px;
    position: absolute;
}

#g1-2-electronic-bg {
    width: 475px;
    top: 180px;
    left: 630px;
    position: absolute;
}

/*hint*/
#g1-2-chemistry-hint {
    width: 475px;
    top: 120px;
    left: 120px;
    position: absolute;
}

#g1-2-electronic-hint {
    width: 475px;
    top: 180px;
    left: 630px;
    position: absolute;
}

/*sel*/
#g1-2-sel-1-1 {
    height: 120px;
    top: 580px;
    left: 60px;
    position: absolute;
}

#g1-2-sel-1-2 {
    height: 100px;
    top: 590px;
    left: 245px;
    position: absolute;
}

#g1-2-sel-1-3 {
    height: 120px;
    top: 580px;
    left: 460px;
    position: absolute;
}

#g1-2-sel-1-4 {
    height: 120px;
    top: 580px;
    left: 540px;
    position: absolute;
}

#g1-2-sel-1-5 {
    height: 80px;
    top: 600px;
    left: 680px;
    position: absolute;
}

#g1-2-sel-1-6 {
    height: 100px;
    top: 590px;
    left: 740px;
    position: absolute;
}

#g1-2-sel-1-7 {
    height: 120px;
    top: 580px;
    left: 825px;
    position: absolute;
}

#g1-2-sel-1-8 {
    height: 80px;
    top: 605px;
    left: 970px;
    position: absolute;
}

#g1-2-sel-1-9 {
    height: 20px;
    top: 590px;
    left: 1020px;
    position: absolute;
}

#g1-2-sel-1-a {
    height: 60px;
    top: 630px;
    left: 1020px;
    position: absolute;
}

#g1-2-chemistry-1,
#g1-2-chemistry-2,
#g1-2-chemistry-3,
#g1-2-electronic-1,
#g1-2-electronic-2,
#g1-2-electronic-3,
#g1-2-electronic-4,
#g1-2-electronic-5,
#g1-2-electronic-6,
#g1-2-electronic-7 {
    width: inherit;
    height: inherit;
}

/*ans*/
/*chemistry 1 4 7*/
#g1-2-ans-1-001 {
    width: 280px;
    height: 268px;
    top: 217px;
    left: 306px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-1-004 {
    width: 290px;
    height: 350px;
    top: 135px;
    left: 144px;
    position: absolute;
    z-index: 2;
}


#g1-2-ans-1-007 {
    width: 122px;
    height: 146px;
    top: 213px;
    left: 353px;
    position: absolute;
    z-index: 1;
}

#g1-2-ans-1-014 {
    width: 130px;
    height: 160px;
    top: 320px;
    left: 300px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-1-077 {
    width: 122px;
    height: 146px;
    top: 213px;
    left: 353px;
    position: absolute;
    z-index: 2;
}

/*electronic 2 3 5 6 8 9 a*/
#g1-2-ans-1-002 {
    width: 363px;
    height: 218px;
    top: 267px;
    left: 676px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-1-005 {
    width: 45px;
    height: 122px;
    top: 318px;
    left: 643px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-1-003 {
    width: 205px;
    height: 96px;
    top: 391px;
    left: 892px;
    position: absolute;
    z-index: 3;
}

#g1-2-ans-1-006 {
    width: 54px;
    height: 198px;
    top: 202px;
    left: 1033px;
    position: absolute;
    z-index: 2;
}


#g1-2-ans-1-008 {
    width: 113px;
    height: 85px;
    top: 397px;
    left: 755px;
    position: absolute;
    z-index: 3;
}


#g1-2-ans-1-023 {
    width: 135px;
    height: 90px;
    top: 391px;
    left: 892px;
    position: absolute;
    z-index: 3;
}

#g1-2-ans-1-028 {
    width: 117px;
    height: 80px;
    top: 395px;
    left: 753px;
    position: absolute;
    z-index: 3;
}

#g1-2-img-1-001,
#g1-2-img-1-002,
#g1-2-img-1-003,
#g1-2-img-1-004,
#g1-2-img-1-005,
#g1-2-img-1-006,
#g1-2-img-1-007,
#g1-2-img-1-008,
#g1-2-img-1-009,
#g1-2-img-1-00a {
    width: inherit;
    height: inherit;
}

/*game1-2-2*/
/*bg*/
#g1-2-feed-bg {
    width: 475px;
    top: 120px;
    left: 120px;
    position: absolute;
}

#g1-2-hospital-bg {
    width: 475px;
    top: 190px;
    left: 630px;
    position: absolute;
}

/*hint*/
#g1-2-feed-hint {
    width: 475px;
    top: 120px;
    left: 120px;
    position: absolute;
}

#g1-2-hospital-hint {
    width: 475px;
    top: 190px;
    left: 630px;
    position: absolute;
}

/*sel*/
#g1-2-sel-2-1 {
    height: 100px;
    top: 590px;
    left: 70px;
    position: absolute;
}

#g1-2-sel-2-2 {
    height: 130px;
    top: 575px;
    left: 275px;
    position: absolute;
}

#g1-2-sel-2-3 {
    height: 50px;
    top: 615px;
    left: 415px;
    position: absolute;
}

#g1-2-sel-2-4 {
    height: 130px;
    top: 575px;
    left: 500px;
    position: absolute;
}

#g1-2-sel-2-5 {
    height: 120px;
    top: 580px;
    left: 610px;
    position: absolute;
}

#g1-2-sel-2-6 {
    height: 110px;
    top: 585px;
    left: 890px;
    position: absolute;
}

#g1-2-feed-1,
#g1-2-feed-2,
#g1-2-feed-3,
#g1-2-hospital-1,
#g1-2-hospital-2,
#g1-2-hospital-3 {
    widows: inherit;
    height: inherit;
}

/*ans*/
/*feed 2 4 5*/
#g1-2-ans-2-002 {
    width: 120px;
    height: 316px;
    top: 145px;
    left: 284px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-2-004 {
    width: 120px;
    height: 316px;
    top: 145px;
    left: 146px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-2-005 {
    width: 435px;
    height: 156px;
    top: 315px;
    left: 146px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-2-022 {
    width: 120px;
    height: 120px;
    top: 305px;
    left: 284px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-2-044 {
    width: 120px;
    height: 120px;
    top: 305px;
    left: 146px;
    position: absolute;
    z-index: 2;
}

/*hospital 1 3 6*/
#g1-2-ans-2-001 {
    width: 152px;
    height: 89px;
    top: 387px;
    left: 698px;
    position: absolute;
    z-index: 3;
}

#g1-2-ans-2-003 {
    width: 60px;
    height: 61px;
    top: 295px;
    left: 843px;
    position: absolute;
    z-index: 3;
}

#g1-2-ans-2-006 {
    width: 450px;
    height: 245px;
    top: 208px;
    left: 648px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-2-016 {
    width: 152px;
    height: 60px;
    top: 387px;
    left: 698px;
    position: absolute;
    z-index: 3;
}

#g1-2-ans-2-036 {
    width: 60px;
    height: 61px;
    top: 295px;
    left: 843px;
    position: absolute;
    z-index: 3;
}

#g1-2-img-2-001,
#g1-2-img-2-002,
#g1-2-img-2-003,
#g1-2-img-2-004,
#g1-2-img-2-005,
#g1-2-img-2-006 {
    width: inherit;
    height: inherit;
}

/*game1-2-3*/
/*bg*/
#g1-2-nationaldefense-bg {
    width: 475px;
    top: 200px;
    left: 120px;
    position: absolute;
    z-index: 1;
}

#g1-2-poison-bg {
    width: 475px;
    top: 208px;
    left: 630px;
    position: absolute;
    z-index: 1;
}

/*hint*/
#g1-2-nationaldefense-hint {
    width: 475px;
    top: 200px;
    left: 120px;
    position: absolute;
    z-index: 1;
}

#g1-2-poison-hint {
    width: 475px;
    top: 208px;
    left: 630px;
    position: absolute;
    z-index: 1;
}

/*sel*/
#g1-2-sel-3-1 {
    height: 100px;
    top: 590px;
    left: 20px;
    position: absolute;
}

#g1-2-sel-3-2 {
    height: 70px;
    top: 608px;
    left: 135px;
    position: absolute;
}

#g1-2-sel-3-3 {
    height: 100px;
    top: 585px;
    left: 324px;
    position: absolute;
}

#g1-2-sel-3-4 {
    height: 100px;
    top: 590px;
    left: 507px;
    position: absolute;
}

#g1-2-sel-3-5 {
    height: 100px;
    top: 588px;
    left: 640px;
    position: absolute;
}

#g1-2-sel-3-6 {
    height: 85px;
    top: 600px;
    left: 830px;
    position: absolute;
}

#g1-2-sel-3-7 {
    height: 64px;
    top: 610px;
    left: 920px;
    position: absolute;
}

#g1-2-nationaldefense-1,
#g1-2-nationaldefense-2,
#g1-2-nationaldefense-3,
#g1-2-nationaldefense-4,
#g1-2-poison-1,
#g1-2-poison-2,
#g1-2-poison-3 {
    width: inherit;
    height: inherit;
}

/*ans*/
/*nationaldefense 1 4 6 7*/
#g1-2-ans-3-001 {
    width: 150px;
    height: 135.73px;
    top: 268px;
    left: 357px;
    position: absolute;
    z-index: 3;
}

#g1-2-ans-3-004 {
    width: 214px;
    height: 154px;
    top: 217px;
    left: 142px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-3-006 {
    width: 118px;
    height: 108.39px;
    top: 252px;
    left: 450px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-3-007 {
    width: 441px;
    height: 134.3px;
    top: 334px;
    left: 140px;
    position: absolute;
    z-index: 4;
}

#g1-2-ans-3-016 {
    width: 36px;
    height: 86px;
    top: 269px;
    left: 460px;
    position: absolute;
    z-index: 4;
}

/*poison 2 3 5*/
#g1-2-ans-3-002 {
    width: 415px;
    height: 144px;
    top: 290px;
    left: 647px;
    position: absolute;
    z-index: 3;
}

#g1-2-ans-3-003 {
    width: 400px;
    height: 91px;
    top: 375.4px;
    left: 697px;
    position: absolute;
    z-index: 4;
}

#g1-2-ans-3-005 {
    width: 380px;
    height: 80.53px;
    top: 218px;
    left: 664px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-3-023 {
    width: 351px;
    height: 47px;
    top: 377px;
    left: 700px;
    position: absolute;
    z-index: 5;
}

#g1-2-img-3-001,
#g1-2-img-3-002,
#g1-2-img-3-003,
#g1-2-img-3-004,
#g1-2-img-3-005,
#g1-2-img-3-006,
#g1-2-img-3-007 {
    width: inherit;
    height: inherit;
}

/*game1-2-4*/
/*bg*/
#g1-2-steel-bg {
    width: 475px;
    top: 115px;
    left: 120px;
    position: absolute;
}

#g1-2-waste-bg {
    width: 475px;
    top: 193px;
    left: 630px;
    position: absolute;
}

/*hint*/
#g1-2-steel-hint {
    width: 475px;
    top: 115px;
    left: 120px;
    position: absolute;
}

#g1-2-waste-hint {
    width: 475px;
    top: 193px;
    left: 630px;
    position: absolute;
}

/*sel*/
#g1-2-sel-4-1 {
    height: 70px;
    top: 610px;
    left: 60px;
    position: absolute;
}

#g1-2-sel-4-2 {
    height: 130px;
    top: 570px;
    left: 280px;
    position: absolute;
}

#g1-2-sel-4-3 {
    height: 110px;
    top: 580px;
    left: 435px;
    position: absolute;
}

#g1-2-sel-4-4 {
    height: 100px;
    top: 590px;
    left: 650px;
    position: absolute;
}

#g1-2-sel-4-5 {
    height: 60px;
    top: 620px;
    left: 830px;
    position: absolute;
}

#g1-2-sel-4-6 {
    height: 100px;
    top: 590px;
    left: 1000px;
    position: absolute;
}

#g1-2-steel-1,
#g1-2-steel-2,
#g1-2-steel-3,
#g1-2-waste-1,
#g1-2-waste-2,
#g1-2-waste-3 {
    width: inherit;
    height: inherit;
}

/*ans*/
/*steel 2 4 6*/
#g1-2-ans-4-002 {
    width: 357px;
    height: 350px;
    top: 133px;
    left: 141px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-4-004 {
    width: 405px;
    height: 114px;
    top: 370px;
    left: 187px;
    position: absolute;
    z-index: 3;
}

#g1-2-ans-4-006 {
    width: 295px;
    height: 110px;
    top: 275px;
    left: 247px;
    position: absolute;
    z-index: 2;
}

/*waste 1 3 5*/
#g1-2-ans-4-001 {
    width: 411px;
    height: 141px;
    top: 296px;
    left: 649px;
    position: absolute;
    z-index: 3;
}

#g1-2-ans-4-003 {
    width: 388px;
    height: 91px;
    top: 383px;
    left: 703px;
    position: absolute;
    z-index: 4;
}

#g1-2-ans-4-005 {
    width: 370px;
    height: 128px;
    top: 211px;
    left: 673px;
    position: absolute;
    z-index: 2;
}

#g1-2-ans-4-013 {
    width: 343px;
    height: 43px;
    top: 384px;
    left: 700px;
    position: absolute;
    z-index: 5;
}

#g1-2-img-4-001,
#g1-2-img-4-002,
#g1-2-img-4-003,
#g1-2-img-4-004,
#g1-2-img-4-005,
#g1-2-img-4-006 {
    width: inherit;
    height: inherit;
}

/*g1-2result*/

#g1-2result-bg {
    width: inherit;
    height: inherit;
    position: absolute;
}

#g1-2resultw-bg {
    width: 1200px;
    height: 675px;
    position: absolute;
}

#g1-2wrong-show {
    width: 1100px;
    top: 50px;
    left: 50px;
    position: absolute;
}

#g1-2monster-1 {
    width: 500px;
    top: 70px;
    left: 380px;
    position: absolute;
    z-index: 50;
}

#g1-2monster-2 {
    width: 400px;
    top: 50px;
    left: 430px;
    position: absolute;
    z-index: 50;
}

#g1-2monster-3 {
    width: 550px;
    top: 150px;
    left: 350px;
    position: absolute;
    z-index: 50;
}

#g1-2monster-4 {
    width: 380px;
    top: 80px;
    left: 410px;
    position: absolute;
    z-index: 50;
}

/*result-correct*/
#g1-2result-correct-exit {
    width: 70px;
    top: 20px;
    left: 1100px;
    position: absolute;
}

#g1-2result-correct-frame {
    width: 780px;
    top: 60px;
    left: 30px;
    position: absolute;
}

#g1-2result-correct-mon {
    width: 350px;
    top: 30px;
    left: 820px;
    position: absolute;
}

#g1-2result-correct {
    width: 400px;
    top: 500px;
    left: 400px;
    position: absolute;
}

#g1-2result-correct-retry {
    width: 250px;
    top: 550px;
    left: 100px;
    position: absolute;
}

#g1-2result-correct-next {
    width: 250px;
    top: 550px;
    left: 850px;
    position: absolute;
}

/*text*/
#g1-2result-correct-t1 {
    width: 100px;
    height: 75px;
    top: 115px;
    left: 280px;
    position: absolute;
}

#g1-2result-correct-t2 {
    width: 200px;
    height: 75px;
    top: 115px;
    left: 455px;
    position: absolute;
}

#g1-2result-correct-t3 {
    width: 100px;
    height: 75px;
    top: 200px;
    left: 280px;
    position: absolute;
}

#g1-2result-correct-t4 {
    width: 200px;
    height: 75px;
    top: 200px;
    left: 455px;
    position: absolute;
}

#g1-2result-correct-t5 {
    width: 200px;
    height: 75px;
    top: 300px;
    left: 355px;
    position: absolute;
}

#g1-2result-correct-t6 {
    width: 100px;
    height: 30px;
    top: 395px;
    left: 625px;
    position: absolute;
}

#g1-2result-correct-t1,
#g1-2result-correct-t3 {
    color: #231815;
    font-family: "font";
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    line-height: 75px;
    z-index: 2;
}

#g1-2result-correct-t2,
#g1-2result-correct-t4,
#g1-2result-correct-t5 {
    color: #177700;
    font-family: "font";
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    line-height: 75px;
    z-index: 2;
}

#g1-2result-correct-t6 {
    color: #5E5E5E;
    font-family: "font";
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    z-index: 2;
}

/*result-wrong*/
#g1-2result-wrong-frame {
    width: 780px;
    top: 50px;
    left: 390px;
    position: absolute;
}

#g1-2result-wrong-retry {
    width: 250px;
    top: 550px;
    left: 650px;
    position: absolute;
}

#g1-2result-wrong-exit {
    width: 70px;
    top: 20px;
    left: 1100px;
    position: absolute;
}

/*text*/
#g1-2result-wrong-t1 {
    width: 100px;
    height: 75px;
    top: 197px;
    left: 668px;
    position: absolute;
}

#g1-2result-wrong-t2 {
    width: 200px;
    height: 75px;
    top: 195px;
    left: 850px;
    position: absolute;
}

#g1-2result-wrong-t3 {
    width: 100px;
    height: 75px;
    top: 277px;
    left: 668px;
    position: absolute;
}

#g1-2result-wrong-t4 {
    width: 200px;
    height: 75px;
    top: 277px;
    left: 850px;
    position: absolute;
}

#g1-2result-wrong-t5 {
    width: 200px;
    height: 75px;
    top: 365px;
    left: 735px;
    position: absolute;
}

#g1-2result-wrong-t6 {
    width: 100px;
    height: 30px;
    top: 458px;
    left: 990px;
    position: absolute;
}

#g1-2result-wrong-t1,
#g1-2result-wrong-t3 {
    color: #231815;
    font-family: "font";
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    line-height: 75px;
    z-index: 2;
}

#g1-2result-wrong-t2,
#g1-2result-wrong-t4,
#g1-2result-wrong-t5 {
    color: #177700;
    font-family: "font";
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    line-height: 75px;
    z-index: 2;
}

#g1-2result-wrong-t6 {
    color: #5E5E5E;
    font-family: "font";
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    z-index: 2;
}

/*game2-1*/
#g2-1-mapbox {
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
}

#g2-1-map {
    width: inherit;
    z-index: 1;
}

#g2-1-scrollbox {
    top: 25px;
    left: 28px;
    width: 1145px;
    height: 643px;
    position: absolute;
    z-index: 4;
}

#g2-1-bgframe {
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: 3;
}
#g2-1-lock{
	height: inherit;
    width: inherit;
	top:-20px;
	left: 0px;
	position: absolute;
	z-index: 1;
}

#g2-1-factorybox-01 {
    margin-top: -1290px;
    left: 410px;
}

#g2-1-factorybox-02 {
    margin-top: -25px;
    left: 90px;
}

#g2-1-factorybox-03 {
    margin-top: -60px;
    left: 1020px;
}

#g2-1-factorybox-04 {
    margin-top: -60px;
    left: 370px;
}

#g2-1-factorybox-05 {
    margin-top: -30px;
    left: 270px;
}

#g2-1-factorybox-06 {
    margin-top: 10px;
    left: 880px;
}

#g2-1-factorybox-07 {
    margin-top: 40px;
    left: 610px;
}

#g2-1-factorybox-08 {
    margin-top: 15px;
    left: 430px;
}

#g2-1-factorybox-09 {
    margin-top: -70px;
    left: 350px;
}

#g2-1-factorybox-10 {
    margin-top: -60px;
    left: 510px;
}

#g2-1-factorybox-11 {
    margin-top: -40px;
    left: 350px;
}

#g2-1-factorybox-12 {
    margin-top: -75px;
    left: 440px;
}

#g2-1-factorybox-13 {
    margin-top: 200px;
    left: 410px;
}

#g2-1-factorybox-14 {
    margin-top: -45px;
    left: 320px;
}

#g2-1-factorybox-15 {
    margin-top: 40px;
    left: 430px;
}

#g2-1-factorybox-16 {
    margin-top: -45px;
    left: 520px;
}

#g2-1-factorybox-17 {
    margin-top: -40px;
    left: 420px;
}

#g2-1-factorybox-18 {
    margin-top: -40px;
    left: 495px;
}

#g2-1-factorybox-19 {
    margin-top: -90px;
    left: 650px;
}

#g2-1-factorybox-20 {
    margin-top: -20px;
    left: 600px;
}

#g2-1-factorybox-21 {
    margin-top: -70px;
    left: 690px;
}

#g2-1-factorybox-22 {
    margin-top: -15px;
    left: 640px;
}
/*factoryboxcover*/
#g2-1-factoryboxcover-01 {
    margin-top: -1250px;
    margin-left: 410px;
	height:84px;
}

#g2-1-factoryboxcover-02 {
    margin-top: -25px;
    margin-left: 90px;
	height:74px;
}

#g2-1-factoryboxcover-03 {
    margin-top: -60px;
    margin-left: 1020px;
	height:64px;
}

#g2-1-factoryboxcover-04 {
    margin-top: -60px;
    margin-left: 370px;
	height:83px;
}

#g2-1-factoryboxcover-05 {
    margin-top: -30px;
    margin-left: 270px;
	height:72px;
}

#g2-1-factoryboxcover-06 {
    margin-top: 10px;
    margin-left: 880px;
	height:64px;
}

#g2-1-factoryboxcover-07 {
    margin-top: 40px;
    margin-left: 610px;
	height:87px;
}

#g2-1-factoryboxcover-08 {
    margin-top: 15px;
    margin-left: 430px;
	height:77px;
}

#g2-1-factoryboxcover-09 {
    margin-top: -70px;
    margin-left: 350px;
	height:88px;
}

#g2-1-factoryboxcover-10 {
    margin-top: -60px;
    margin-left: 510px;
	height:77px;
}

#g2-1-factoryboxcover-11 {
    margin-top: -40px;
    margin-left: 350px;
	height:83px;
}

#g2-1-factoryboxcover-12 {
    margin-top: -75px;
    margin-left: 440px;
	height:77px;
}

#g2-1-factoryboxcover-13 {
    margin-top: 200px;
    margin-left: 410px;
	height:74px;
}

#g2-1-factoryboxcover-14 {
    margin-top: -45px;
    margin-left: 320px;
	height:72px;
}

#g2-1-factoryboxcover-15 {
    margin-top: 40px;
    margin-left: 430px;
	height:63px;
}

#g2-1-factoryboxcover-16 {
    margin-top: -45px;
    margin-left: 520px;
	height:83px;
}

#g2-1-factoryboxcover-17 {
    margin-top: -40px;
    left: 420px;
	height:74px;
}

#g2-1-factoryboxcover-18 {
    margin-top: -40px;
    left: 495px;
	height:87px;
}

#g2-1-factoryboxcover-19 {
    margin-top: -90px;
    margin-left: 650px;
	height:77px;
}

#g2-1-factoryboxcover-20 {
    margin-top: -20px;
    margin-left: 600px;
	height:87px;
}

#g2-1-factoryboxcover-21 {
    margin-top: -70px;
    margin-left: 690px;
	height:77px;
}

#g2-1-factoryboxcover-22 {
 	margin-top: -10px;
    margin-left: 640px;
	height: 97px;
}



#g2-1-factoryboxcover-01, 
#g2-1-factoryboxcover-02,
#g2-1-factoryboxcover-03,
#g2-1-factoryboxcover-04,
#g2-1-factoryboxcover-05,
#g2-1-factoryboxcover-06,
#g2-1-factoryboxcover-07,
#g2-1-factoryboxcover-08,
#g2-1-factoryboxcover-09,
#g2-1-factoryboxcover-10,
#g2-1-factoryboxcover-11,
#g2-1-factoryboxcover-12,
#g2-1-factoryboxcover-13,
#g2-1-factoryboxcover-14,
#g2-1-factoryboxcover-15,
#g2-1-factoryboxcover-16,
#g2-1-factoryboxcover-17,
#g2-1-factoryboxcover-18,
#g2-1-factoryboxcover-19,
#g2-1-factoryboxcover-20,
#g2-1-factoryboxcover-21,
#g2-1-factoryboxcover-22 {
    width: 100px;
    position: relative;
    z-index: 5;
}

#g2-1-factorybox-01, 
#g2-1-factorybox-02,
#g2-1-factorybox-03,
#g2-1-factorybox-04,
#g2-1-factorybox-05,
#g2-1-factorybox-06,
#g2-1-factorybox-07,
#g2-1-factorybox-08,
#g2-1-factorybox-09,
#g2-1-factorybox-10,
#g2-1-factorybox-11,
#g2-1-factorybox-12,
#g2-1-factorybox-13,
#g2-1-factorybox-14,
#g2-1-factorybox-15,
#g2-1-factorybox-16,
#g2-1-factorybox-17,
#g2-1-factorybox-18,
#g2-1-factorybox-19,
#g2-1-factorybox-20,
#g2-1-factorybox-21,
#g2-1-factorybox-22 {
    width: 100px;
    position: relative;
    z-index: 2;
}

#g2-1-factory-01, 
#g2-1-factory-02,
#g2-1-factory-03,
#g2-1-factory-04,
#g2-1-factory-05,
#g2-1-factory-06,
#g2-1-factory-07,
#g2-1-factory-08,
#g2-1-factory-09,
#g2-1-factory-10,
#g2-1-factory-11,
#g2-1-factory-12,
#g2-1-factory-13,
#g2-1-factory-14,
#g2-1-factory-15,
#g2-1-factory-16,
#g2-1-factory-17,
#g2-1-factory-18,
#g2-1-factory-19,
#g2-1-factory-20,
#g2-1-factory-21,
#g2-1-factory-22 {
    height: inherit;
    width: inherit;
}

/*mouse image*/
* {
    cursor: url(image/mouse.svg), auto !important;
}

@font-face {
    font-family: 'font';
    src: local("font"),
        url('font.ttf') format("truetype"),
}